{%- style -%}
  .section--build-subscription {
    padding-top: {{ section.settings.dsk_pad_top }}px;
    padding-bottom: {{ section.settings.dsk_pad_bottom }}px;
  }
  @media screen and (max-width: 748px) {
    .section--build-subscription {
      padding-top: {{ section.settings.mbl_pad_top }}px;
      padding-bottom: {{ section.settings.mbl_pad_bottom }}px;
    }
  }
{%- endstyle -%}
{{ 'build-subscription.css' | asset_url | stylesheet_tag }}

{% assign sub_product = section.settings.sub_product %}

<div class="section--build-subscription section--narrow-width">
  <div class="build-subscription-heading">{{ section.settings.heading }}</div>
  {%- if section.blocks != blank -%}
    {%- for block in section.blocks -%}
      {% case block.type %}
        {% when "size" %}
          {% render 'build-subscription-variant-selector'
            , section: section
            , sub_product: sub_product
            , block: block %}
        {% when "delivery_frequency" %}
          {% render 'build-subscription-delivery-frequency'
            , block: block %}
        {% when "payment_plan" %}
          {% render 'build-subscription-payment-plan'
            , block: block %}
        {% when "delivery_date" %}
          {% render 'build-subscription-delivery-date'
            , block: block %}
      {% endcase %}
    {%- endfor -%}
  {%- endif -%}
  {% if section.settings.add_to_bag_button %}
    <button class="add-to-bag f-product-form__submit btn btn--primary">{{ section.settings.add_to_bag_button }}</button>
  {% endif %}
</div>

<script src="{{ 'build-subscription.js' |  asset_url }}" defer></script>

{% schema %}
  {
    "name": "Build Subscription",
    "tag": "section",
    "class": "section-build-subscription",
    "settings": [
      {
        "type": "product",
        "id": "sub_product",
        "label": "Product"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading Text",
        "default": "Build Your Subscription"
      },
      {
        "type": "text",
        "id": "add_to_bag_button",
        "label": "Button Text",
        "default": "ADD TO BAG - $125"
      },
      {
        "type": "header",
        "content": "Padding Settings"
      }, {
        "type": "range",
        "id": "dsk_pad_top",
        "min": 30,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Padding Top",
        "default": 80
      }, {
        "type": "range",
        "id": "dsk_pad_bottom",
        "min": 30,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Desktop Padding Bottom",
        "default": 80
      }, {
        "type": "range",
        "id": "mbl_pad_top",
        "min": 30,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Padding Top",
        "default": 70
      }, {
        "type": "range",
        "id": "mbl_pad_bottom",
        "min": 30,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Mobile Padding Bottom",
        "default": 70
      }
    ],
    "blocks": [
      {
        "name": "Size",
        "type": "size",
        "settings": [
          {
            "type": "text",
            "id": "block_title",
            "label": "Title",
            "default": "Select Size:"
          }, {
            "type": "product",
            "id": "sub_product",
            "label": "Product"
          }
        ]
      },
      {
        "name": "Variant Block",
        "type": "variant_block",
        "settings": [
          {
            "type": "image_picker",
            "id": "variant_image",
            "label": "Variant Image"
          }, {
            "type": "text",
            "id": "variant_title",
            "label": "TItle"
          }
        ]
      },
      {
        "name": "Delivery Frequency",
        "type": "delivery_frequency",
        "settings": [
          {
            "type": "text",
            "id": "block_title",
            "label": "Title",
            "default": "Delivery Frequency:"
          }, {
            "type": "text",
            "id": "weekly_text",
            "label": "Weekly Text",
            "default": "Weekly"
          }, {
            "type": "text",
            "id": "bi_weekly_text",
            "label": "Bi Weekly Text",
            "default": "Bi-Weekly"
          }, {
            "type": "text",
            "id": "monthly_text",
            "label": "Monthly Text",
            "default": "Monthly"
          }
        ]
      },
      {
        "name": "Payment Plan",
        "type": "payment_plan",
        "settings": [
          {
            "type": "text",
            "id": "block_title",
            "label": "Title",
            "default": "Select your plan:"
          },
          {
            "type": "header",
            "content": "Plan 1"
          },
          {
            "type": "text",
            "id": "plan_title_1",
            "label": "Title",
            "default": "Pay-As-You-Go"
          },
          {
            "type": "text",
            "id": "plan_type_1",
            "label": "Type",
            "default": "+ Delivery"
          }, {
            "type": "textarea",
            "id": "plan_description_1",
            "label": "Description",
            "default": "Get charged only when each delivery is made—no upfront commitment, just flexible, fresh flowers when you want."
          }, {
            "type": "header",
            "content": "Plan 2"
          }, {
            "type": "text",
            "id": "plan_title_2",
            "label": "Title",
            "default": "PRE-PAID"
          }, {
            "type": "text",
            "id": "plan_type_2",
            "label": "Type",
            "default": "One -Time Payment"
          }, {
            "type": "textarea",
            "id": "plan_description_2",
            "label": "Description",
            "default": "Pay upfront for multiple deliveries and enjoy worry-free gifting with flowers arriving right on schedule."
          }
        ]
      }, {
        "name": "Delivery Date",
        "type": "delivery_date",
        "settings": [
          {
            "type": "text",
            "id": "block_title",
            "label": "Title",
            "default": "Select Your First Delivery Date:"
          }, {
            "type": "text",
            "id": "date_title",
            "label": "Date Title",
            "default": "Receive by:"
          }, {
            "type": "textarea",
            "id": "delivery_date_description",
            "label": "Delivery Date Description",
            "default": "Your Flowers, Your Schedule: Choose your preferred delivery day and frequency, and we'll stick to it. For example, if your first delivery arrives on a Thursday every two weeks, your next blooms will arrive two Thursdays later. For pay-as-you-go plans, charges are processed seven days before each delivery."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Build Subscription",
        "settings": {},
        "blocks": [
          {
            "type": "size"
          }, {
            "type": "delivery_frequency"
          }, {
            "type": "payment_plan"
          }, {
            "type": "delivery_date"
          }
        ]
      }
    ]
  }
{% endschema %}